<div class="view" ng-controller="positionalEntropyCtrl">
    <div class="view-title">Positional entropy</div>
    <div class="information-box">{{ info1 }}<span class="change-text">{{ changeText }}</span>{{ info2 }}</div>
    <button ng-click="makeChange()">Make Change</button>
    <button id="mcc" ng-click="makeContinuousChanges()">Make Continuous Changes</button>
    <div class="rightside-button-container">
        <button ng-click="scrambleText()">Scramble</button>
        <button ng-click="orderText()">Order</button>
        <button ng-click="resetText()">Reset</button>
    </div>
    <div id="entropy-table">
        <table>
            <tr>
                <td>ENTROPY</td>
                <td>First 100 Changes</td>
                <td>Last 100 Changes</td>
            </tr>
            <tr>
                <td>Increased</td>
                <td class="data"> {{ increasesDuringTheFirst100Changes }}</td>
                <td class="data"> {{ increasesDuringTheLast100Changes }}</td>
            </tr>
            <td>Decreased</td>
            <td class="data">{{ decreasesDuringTheFirst100Changes }}</td>
            <td class="data">{{ decreasesDuringTheLast100Changes }}</td>
            </tr>
            <tr>
                <td>Unchanged</td>
                <td class="data">{{ unchangedDuringTheFirst100Changes }}</td>
                <td class="data">{{ unchangedDuringTheLast100Changes }}</td>
            </tr>
        </table>
    </div>
    <div id="equation-wrapper"><img id="entropy-equation" src="images/Entropy Equation.png"></div>
    <div class="information-group">
        <div>Starting Entropy: {{ startingEntropy | number : 6 }}</div>
    </div>
    <div class="information-group">
        <div>Current Entropy: {{ entropy | number : 6 }}</div>
        <div>Change in entropy: {{ changeInEntropy | number : 6 }} </div>
    </div>
</div>